@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');
/*.navbar {
  height: 80px;
 
  img{
  height: 59px;
  }
  .item {
    font-size: 18px;
  }
  .item3 {
    transform: translateY(2px);
    font-size: 18px;
    margin-left: 172px;
  }
  .item4 {
    transform: translateY(-89px);
    font-size: 18px;
    margin-left: 88px;
  }
  .start {
    font-size: 30px;
    letter-spacing: 2px;
  }

    .icons {
      display: flex;
      gap: 16px;
      color: #777;
      cursor: pointer;
      margin-top: -25px;
      margin-left: 1041px;

      .cartIcon {
        position: relative;

      span {
        font-size: 12px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #2879fe;
          color: white;
          position: absolute;
          right: -10px;
          top: -10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
*/
.navbar {
  height: 80px;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .center{
      transform: translate(-310px , 9px);
    }
    .item {
      display: flex;
      align-items: center;
      font-size: 18px;
    }
    .item1 {
      transform: translate(875px, -1px);
      font-size: 19px;
    }
    .item2{
      transform: translate(865px , -1px);
      font-size: 19px;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 25px;
    }

    img{
      height: 85px;
      margin-top: -11px;
    }
    .right {
      display: flex;
      align-items: center;
      gap: 25px;

      .icons {
        display: flex;
        gap: 15px;
        color: #777;
        cursor: pointer;

        .cartIcon {
          position: relative;

          span {
            font-size: 12px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #2879fe;
            color: white;
            position: absolute;
            right: -10px;
            top: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
